* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}

.app {
    height: 100vh;
    overflow: hidden;
    padding: 60px;
}

.bg-black {
    background-color: black;
}

.container {
    margin: 0 auto;
}


.user {
    position: relative;
}

.user_photo {
    margin-top: 5px;
    
}

.user_name {
    color: white;
    background-color: rgba(128, 128, 128, 0.549);
    padding: 5px;
    position: absolute;
    bottom: 5px;
}

/* .debug .container {
    border: 1px solid white;
} */